<div class="footer__inner">
    <div class="container">
        <div class="footer-wrap">
            <!-- Footer categories -->
            <div class="footer-cate">
                <div class="footer-list">
                    <!-- Footer item 1 -->
                    <div class="footer-item">
                        <h3 class="heading-third footer-item__heading">Courses</h3>
                        <ul class="footer-item-wrap">
                            <a href="#!"><li class="desc--second footer-item__desc">Classroom Courses</li></a>
                            <a href="#!"><li class="desc--second footer-item__desc">Virtual Classroom Courses</li></a>
                            <a href="#!"><li class="desc--second footer-item__desc">E-Learning Courses</li></a>
                            <a href="#!"> <li class="desc--second footer-item__desc">University Courses</li></a>
                            <a href="#!"><li class="desc--second footer-item__desc">University Degree</li></a>
                        </ul>
                    </div>

                    <!-- Footer item 2 -->
                    <div class="footer-item">
                        <h3 class="heading-third footer-item__heading">Tutelage</h3>
                        <ul class="footer-item-wrap">
                            <a href="#!"><li class="desc--second footer-item__desc">About us</li></a>
                            <a href="#!"><li class="desc--second footer-item__desc">Why Circuit</li></a>
                            <a href="#!"><li class="desc--second footer-item__desc">Testimonials</li></a>
                            <a href="#!"><li class="desc--second footer-item__desc">Blog</li></a>
                            <a href="#!"><li class="desc--second footer-item__desc">Podcasts</li></a>
                            <a href="#!"><li class="desc--second footer-item__desc">Forum</li></a>
                        </ul>
                    </div>

                    <!-- Footer item 3 -->
                    <div class="footer-item">
                        <h3 class="heading-third footer-item__heading">Help</h3>
                        <ul class="footer-item-wrap">
                            <a href="#!"><li class="desc--second footer-item__desc">Contact us</li></a>
                            <a href="#!"><li class="desc--second footer-item__desc">Our Venues</li></a>
                            <a href="#!"><li class="desc--second footer-item__desc">Testimonials</li></a>
                            <a href="#!"><li class="desc--second footer-item__desc">My account</li></a>
                        </ul>
                    </div>
                </div>

                <!-- Footer contact -->
                <div class="footer-contact">
                    <div class="footer-contact__top">
                        <div>
                            <p class="desc--second">Email us</p>
                            <a href="mailto:example@gmail.com" class="footer-contact__desc heading-third"
                                >email@gmail.com</a
                            >
                        </div>
                        <div>
                            <p class="desc--second">Call us</p>
                            <a href="tel:000 1234 5678" class="footer-contact__desc heading-third">000 1234 5678</a>
                        </div>
                    </div>
                    <div class="footer-contact__socials">
                        <a href="#!" class="footer-contact__socials-img">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                        <a href="#!" class="footer-contact__socials-img">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                        <a href="#!" class="footer-contact__socials-img">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer-separate"></div>

            <!-- Copy right / Bottom -->
            <div class="footer-copyright">
                <a href="/" class="header__logo">
                    <img src="./assets/images/logo.svg" alt="" class="header__logo-icon" />
                    <img src="./assets/images/logo-name.svg" alt="" class="header__logo-name" />
                </a>

                <div class="footer-copyright__payment">
                    <a href="#!"
                        ><img src="./assets/icons/payment.svg" alt="" class="footer-copyright__payment-link"
                    /></a>
                </div>
                <p class="desc--second">Copyright © 2022 UIHUT all rights reserved.</p>
            </div>
        </div>
    </div>
</div>
