<div class="header__inner header__inner--pricing">
    <div class="container">
        <div class="header__wrap">
            <!-- Menu mobile -->
            <div class="header-menu header-menu--courses dp-none show-on-tab">
                <i class="fa-solid fa-bars header-menu__icon"></i>
            </div>

            <a href="/" class="header__logo header__logo--courses hide-on-tab">
                <img src="./assets/images/logo.svg" alt="" class="header__logo-icon" />
                <img src="./assets/images/logo-name.svg" alt="" class="header__logo-name" />
            </a>

            <!-- Nav -->
            <nav class="header-nav hide-on-tab">
                <ul class="header-nav__list">
                    <li class="header-nav__item">
                        <a href="./index.html" class="header-nav__link">Home</a>
                    </li>
                    <li class="header-nav__item">
                        <a href="./courses.html" class="header-nav__link">Courses</a>
                    </li>
                    <li class="header-nav__item">
                        <a href="./mentors.html" class="header-nav__link">Mentors</a>
                    </li>
                    <li class="header-nav__item">
                        <a href="./about.html" class="header-nav__link">About</a>
                    </li>
                    <li class="header-nav__item">
                        <a href="./blog.html" class="header-nav__link">Blog</a>
                    </li>
                </ul>
            </nav>

            <!-- Login -->
            <button class="btn btn--second btn--second-small header-btn show-on-tab">Log In</button>
        </div>
    </div>
</div>
