<div class="slide-show__wrap">
    <ul
        class="slide-show__list animate__animated animate__slideInLeft animate__infinite animate__slower animate__delay-2s"
    >
        <li class="slide-show__title">Get Discount Of 10% On All our Video Courses For a Limited Time</li>
        <li class="slide-show__title">Get Discount Of 10% On All our Video Courses For a Limited Time</li>
        <li class="slide-show__title">Get Discount Of 10% On All our Video Courses For a Limited Time</li>
        <li class="slide-show__title">Get Discount Of 10% On All our Video Courses For a Limited Time</li>
    </ul>
</div>
