@use "../abstracts";

.mentors {
    background: var(--bg-color);

    &__heading {
        text-align: center;

        @include abstracts.breakpoint(lg) {
            font-size: 2.4rem;
        }
    }

    &-wrap {
        margin-top: 70px;
    }

    &-item {
        border-radius: 24px 24px 12px 12px;
        background: #fff;
        height: 100%;
        overflow: hidden;

        &__ava {
            position: relative;
            &-img {
                display: block;
                width: 100%;
            }

            &-like,
            &-send {
                position: absolute;
            }

            &-like {
                top: 10px;
                right: 10px;
            }

            &-send {
                bottom: -5px;
                left: 20px;
                transform: translateY(50%);
            }
        }

        &__name-wrap {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &__content {
            padding: 42px 20px 20px 20px;
        }

        &__row {
            margin-top: 10px;
            display: flex;
            align-items: center;
            gap: 50px;
        }

        &__col {
            display: flex;
            align-items: center;
            gap: 7px;

            &-desc {
                white-space: nowrap;
            }
        }
    }
}
